// footer styles
.footer {
    background: $grey;
    color: white;
    padding: 50px 0;

    .wrapper {
        flex-wrap: wrap;
    }

    a {
        color: white;
    }

    .footer-links {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 50%;

        @media only screen and (min-width: 768px) {
            width: 25%;
        }

        .footer-nav__list-item,
        .legal-nav__list-item {
            line-height: 1.3;
        }

        .footer-nav__item,
        .legal-nav__item {
            font-size: 12px;
        }

        .footer-nav__item {
            font-weight: bold;
        }
    }

    .footer-disclaimer {
        padding-top: 25px;

        @media only screen and (min-width: 768px) {
            width: 50%;
            padding-top: 0;
        }

        p {
            color: white;
            font-size: 10px;
            margin: 0;
          
            & + p {
              margin-top: 10px
            }
        }


        a {
            text-decoration: underline;   
        }
    }
}