// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import 'base/colours';
@import 'base/fonts';
@import 'components';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $red;
  transition: all 0.2s;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

body {
  background: 
  linear-gradient(
    to bottom, 
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 10%, 
    rgba(255,255,255,1) 100%
  ),
  url(../images/dc-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: $sitefont;

  &.mobile-nav-active {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

p,
ul,
ol {
  font-weight: $fwThin;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 18px;
  color: $bodyColor;
}

p {
  margin: 0;

  & + p {
    margin-top: 25px
  }
}

.hero {
  height: 33vw;
  min-height: 300px;
  max-height: 500px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;

  @media only screen and (min-width: 890px) {
    margin-bottom: 0;
  }

  &.wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  &.hero-home {
    background: url(../images/hero-images/hero-home.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;    
  }

  &.hero-about {
    background: url(../images/hero-images/hero-about.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-parents {
    background: url(../images/hero-images/hero-parents.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-community {
    background: url(../images/hero-images/hero-community.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-primary-care {
    background: url(../images/hero-images/hero-primary-care.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-partners {
    background: url(../images/hero-images/hero-partners.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-research {
    background: url(../images/hero-images/hero-research.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-acquire {
    background: url(../images/hero-images/hero-acquire.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  &.hero-contact {
    background: url(../images/hero-images/hero-contact.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  .hero__title {
    position: absolute;
    background: var(--faded-orange);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 32px;
    font-weight: $fwRegular;
    line-height: 1.12;
    letter-spacing: -1px;
    margin: 0;
    padding: 20px 30px;
    transform: translateY(100%);

    @media only screen and (min-width: 890px) {
      left: -20px;
      bottom: 30px;
      width: 300px;
      padding: 18px 50px 24px;
      font-size: 36px;
      transform: none;
    }

    body.layout-home & {
      background: var(--cool-grey);
    }
  }
}

.hero-description {
  max-width: 1010px;
  font-size: 20px;
  font-weight: $fwRegular;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.3px;
  color: var(--gunmetal);
  padding: 20px 0 35px;
}

.content-wrapper {
  padding-top: 0;
  padding-bottom: 50px;

  @media only screen and (min-width: 890px) {
    padding-top: 50px;
  }
}

.home-nav-callouts {
  background: $white;

  .wrapper {
    flex-wrap: wrap;

    @media only screen and (min-width: 786px) {
      justify-content: space-evenly;
    }
  }

  .nav-callouts__title {
    width: 100%;
    font-size: 26px;
    font-weight: $fwBold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.8px;
    color: var(--faded-red);
    margin-top: 0;

    @media only screen and (min-width: 890px) {
      font-weight: $fwRegular;
      margin-bottom: 0;
      text-align: center;
      font-size: 36px;
    }

    img {
      width: 100px;
      vertical-align: middle;

      @media only screen and (min-width: 890px) {
        width: auto;
      }
    }

    .title-text {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 110px);

      @media only screen and (min-width: 890px) {
        display: inline;
      }
    }
  }

  .nav-callout {
    
    & + .nav-callout {
      margin-top: 25px;

      @media only screen and (min-width: 890px) {
        margin-top: 0;
      }
    }

    @media only screen and (min-width: 890px) {
      width: calc(33% - 20px);
    }

    .nav-callout__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .nav-callout__title {
      font-size: 28px;
      line-height: 1.29;
      letter-spacing: -0.6px;
      color: var(--gunmetal);
      margin-top: 21px;
      margin-bottom: 7px;
    }

    .nav-callout__link {
      font-weight: $fwBold;
      white-space: nowrap;
    }
  }
}

.questionnaires {
  background: white url(../images/dc-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;

  .wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .questionnaires__title {
    font-size: 32px;
    font-weight: $fwRegular;
    line-height: 1.5;
    letter-spacing: -1px;
    text-align: center;
    color: var(--faded-red);
    width: 100%;
    margin: 0;
  }

  .questionnaires__description {
    width: 100%;
    margin-bottom: 50px;
  }

  .questionnaire__card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: white;
    padding: 25px;
    
    & + .questionnaire__card {
      margin-top: 20px;

      @media only screen and (min-width: 890px) {
        margin-top: 0;
      }
    }

    @media only screen and (min-width: 890px) {
      width: calc(50% - 50px);
    }

    &.nutri-estep .card__link {
      color: #459782;
    }
  }

    .card__description {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .card__link {
      text-decoration: underline;
      font-weight: $fwBold;
    }
}

.chapter-nav {
  display: none;

  @media only screen and (min-width: 890px) {
    width: 25%;
    max-width: 240px;
    display: block;
    padding: 15px;
    line-height: 1.7;
    list-style: none;
  }

  .chapter-nav__item {
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: var(--cool-grey);
    transition: all 0.2s;

    &:hover,
    &:focus,
    &.active {
      color: $red;
    }
  }
}

.page-content {
  flex-grow: 1;
  position: relative;

  @media only screen and (min-width: 890px) {
    max-width: 800px;
    width: 67%;
  }

  p,
  ul {

    & + .content-heading {
      padding-top: 50px;
    }
  }

  #back-to-top {

    @media only screen and (min-width: 890px) {
      display: block;
      position: absolute;
      bottom: 100px;
      right: -150px;
      background: url(../images/arrow.png);
      background-repeat: no-repeat;
      background-position-x: 50%;;
      padding-top: 58px;
      opacity: 0.5;
      font-size: 14px;
      font-weight: $fwBold;
      color: var(--cool-grey);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.content-heading {
  font-size: 21px;
  font-weight: $fwBold;
  line-height: 1.21;
  letter-spacing: -0.3px;
  color: var(--faded-red)
}

.content-subheading {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: var(--gunmetal);
}

.table {

  .table__heading,
  .table__row {
    display: flex;
  }

  .table__heading {
    border-bottom: 2px solid rgba($grey, 0.5);
  }

  .table__row:not(:last-of-type) {
    border-bottom: 1px solid rgba($grey, 0.25);
  }

  .heading__cell,
  .table__cell {
    padding: 5px 15px 5px 0;
    width: 50%;

    @media only screen and (min-width: 890px) {
      padding: 15px 15px 15px 0;
    }
  }

  .heading__cell {
    font-size: 20px;
    font-weight: $fwBold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--gunmetal);
  }

  .table__cell {
    font-size: 20px;
    font-weight: $fwThin;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: var(--gunmetal);
  }
}