// header styles
.header {
    padding-top: 30px;
    
    .header__home {
        max-width: 300px;
    }

    .navigation {
        flex-grow: 1;
        text-align: right;
        padding-top: 30px;
    }

        .navigation__list {
            margin: 0;
            padding: 0;
        }

        .navigation__list-item {
            display: inline-block;
        }

            .navigation__item {
                display: inline-block;
                padding: 15px 10px;
                color: $steel;
                font-size: 14px;
                font-weight: bold;;
                transition: all 0.2s;

                &:hover,
                &:focus {
                    color: $red;
                }
            }
}
